<% provide(:title, 'About') %>
<div class="row">
  <h1>Information</h1>
  <center class="col-md-12">
    <hr>
    <hr>
    <div id="main-container" class="container">
      <div id="Mission" class="col-md-6">
        <font size="6">
          <a>Mission</a>
        </font>
        <font size="3">
          <p>Regrouper les Ressources de supervision de droits d’accès du Québec (RSDA). </p>
          <p>Représenter et défendre les intérêts les Ressources de supervision de droits d’accès du Québec (RSDA).</p>
        </font>
        </font>
      </div>
      <hr>
      <div id="But" class="col-md-6">
        <font size="6">
          <a>Buts</a>
        </font>
        <font size="3">
          <p>Informer, sensibiliser et former les membres;</p>
          <p>Favoriser la concertation, l’échange et la collaboration entre les membres et les différents
            partenaires.</p>
        </font>
      </div>
      <hr>
      <div id="Territoire" class="col-md-6">
        <font size="6">
          <a>Territoire</a>
        </font>
        <font size="3">
          <p>La compétence territoriale de l’organisme s’étend à la province de Qué</p>
        </font>
      </div>
    </div>
  </center>
</div>