<% provide(:title, 'About') %>
<div class="row">
<h1>Fonctions du Portail Web</h1>
  <center class="col-md-12">
	<hr>
	<div id="main-container" class="container">
		<div id="Cas Utilisations" class="col-md-6">
			<font size="6">
				<a>Cas d' Utilisations</a>
			</font>
			<hr>
			<br/>
			<font size="3">
				<p>CU01 : Gérer un compte usager </p>
				<p>CU02 : Authentifier un usager </p>
				<p>CU03 : Gérer les organismes référents </p>
				<p>CU04 : Gérer les référents </p>
				<p>CU05 : Rechercher un référent </p>
				<p>CU06 : Gérer les organismes </p>
				<p>CU07 : Gérer les points de service d'un organnisme </p>
				<p>CU08 : Gérer les locaux d'un point de service </p>
				<p>CU20 : Gérer les services </p>
			</font>
			</font>
		</div>
		<div id="Fonctionnalites" class="col-md-6">

			<font size="6">
				<a>Fonctionalités</a>
			</font>
			<hr>
			<br/>
			<font size="3">
			<p>R1A  : Disponibilité du serveur front end </p>
			<p>R1B  : Disponibilité du serveur nack end </p>
			<p>S1   : Authentification </p>
			<p>S2   : Encryption </p>
		</font>
		</div>
	</div>
</center>
</div>