<% provide(:title, 'Contact') %>
<div class="row">
  <center class="col-md-12">
  	<h1>Contacts</h1>
  	<br/>
	<center id="main-container" class="container">
		<div id="?tudiants" class="col-md-6">
			<font size="6">
				<a>Nom des Étudiants</a>
			</font>
			<hr>
			<font size="3">
				<p>Alexandre Laroche </p>
				<hr>
				<p>Fabrice Folepe</p>
				<hr>
				<p>Cherif Namouchi</p>
			</font>
			</font>
		</div>
		<div id="Codes Permanents" class="col-md-6">

			<font size="6">
				<a>Codes Permanents</a>
			</font>
			<hr>
			<font size="3">
			<p>LARA12078907</p>
			<hr>
			<p>FOLF18028601</p>
			<hr>
			<p>NAMC26018506</p>
		</font>
		</div>
	</div>
</center>
</div>