<% provide(:title, 'Contact') %>
<div class="row">
  <h1>Contacts</h1>
  <hr>
  <hr>
  <aside class="column">
    <section>
      <h1>
        <font size="5">
          <strong>Developpeur</strong>
        </font>
      </h1>
      <br/>
      <h1>Nom : <a>Alexandre Laroche</a></h1>
      <h1>Email : <a>laroche.genie.it@outlook.com</a></h1>
    </section>
  </aside>
</div>