<% provide(:title, "Mot de passe oublié") %>
<h1>Password oublié</h1>
<hr>
<hr>
<div class="row">
  <div class="columnlogin">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Soumettre", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>