
<% provide(:title, 'ajouter_retirer_local') %>
<br/>
<div class="row">
  <aside class="col-md-4">
	<%= button_to "Retourner sur Point de Service", @point_of_service , class: "btn btn-primary", method: :get %>
</aside>
</div>
<br/>
<%= link_to "Creer nouveau Local", new_un_local_path %>

<%= render template: 'un_locals/index' %>