
<% provide(:title, 'ajouter_retirer_point_service') %>
<br/>
<div class="row">
  <aside class="col-md-3">
	<%= button_to "Retourner sur l'Organisme", @organisme , class: "btn btn-primary", method: :get %>
</aside>
</div>
<br/>
<%= link_to "Creer nouveau Point de Service", new_point_of_service_path %>

<%= render template: 'point_of_services/index' %>